<form *ngIf="config && config.form" [formGroup]="config.form" class="upf-container">
    <mat-form-field class="full-width">
      <mat-label *ngIf="config && config.label">{{ config.label }}</mat-label>
      <fa-icon  *ngIf="config && config.prefixIcon" class="faIcon icon-prefix" matSuffix [icon]="['far', config.prefixIcon]" (click)="prefixIconClicked.emit(true)"></fa-icon>
      <input matInput *ngIf="config && config.label" [type]="config.type" [formControlName]="config.formControlName" [readonly]="config.readOnly" (keydown)="dataEmitKey.emit(field.value)" (keyup)="dataEmitKey.emit(field.value)" (focusout)="dataEmit.emit(field.value)">
      <fa-icon  *ngIf="config && config.suffixIcon" class="faIcon icon-suffix" matSuffix [icon]="['far', config.suffixIcon]" (click)="suffixIconClicked.emit(true)"></fa-icon>
    </mat-form-field>
  </form>
