<div class="sidenav">
    <img class="sidenav-shield" src="../../../assets/logomuni.png"/>
    <a class="sidenav-item" (click)="goTo(pages.CERVECERIAS_HOME)">Cervecerías</a>
    <a class="sidenav-item" (click)="goTo(pages.UNIVERSIDADES_HOME)">Universidades</a>
    <a class="sidenav-item" (click)="goTo(pages.FARMACIAS_HOME)">Farmacias</a>
    <a class="sidenav-item" (click)="goTo(pages.CAES_HOME)">C. A. S.</a>
    <a class="sidenav-item" (click)="goTo(pages.SUPERMERCADOS_HOME)">Supermercados</a>
    <a class="sidenav-item" (click)="goTo(pages.TENGO_CERCA_HOME)">¿Qué tengo cerca?</a>
</div>
