.mi-form{
    width: 40vw;
    background-color: #bfbfbf;
    padding: 20px;
    border-radius: 10px;

    .botonera{
        display: flex;
        justify-content: space-around;
        width: 100%;
    }
}